.wrap{
	height:35px;
}
.writeunit{
	width:80px;
}
.tip{
	width: 90px;
}
.card img{
	height:215px;
	object-fit: cover;
}
.none{
	display:none;
}
.ajaxwrap{
	display:flex; 
	justify-content:space-between;

}