<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>index</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/fruitshop.css">
</head>
<body>

	<div class="container">
			<div class=" row d-flex justify-content-between ajaxwrap">
			</div>
	
		<div class="row mt-5">
			<form>
				<div class="carwrap">
					<ul class="carlist">
					</ul>
					<div class="totalwrap">
						總計$<span class="total"></span>
					</div>
					<label for="username">購買人姓名:</label> <input type="text"
						id="username" class="usrname"> <input type="button"
						value="結帳" class="checkout">
				</div>
			</form>
		</div>
	</div>
	<script src="/js/fruitshop.js"></script>
</body>
</html>